
@media screen and (max-width: 80rem) {
    .medio h3{
        text-align: center;
        margin-bottom: 2.5rem;
    }
	body {
		padding-top:8rem;
	}
    .isei{
        padding-top:.7rem; 
        width: 10rem;
    }
    .jq{
        display: none;
    }

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background:black;
	}
    
    .na3{
        margin: 0;
    }
    .d{
        background: black;
    }

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
    
  
    /***/

	.menu_bar span {
		float: right;
		font-size: 40px;
	}
    .header{
        margin-bottom: 0;
        padding: 0;
    }

	.header nav {
		width: 80%;
		position: fixed;
		overflow: scroll;
        right: 100%;
	}
    
    .header nav ul{
        display: block;
    }

	.header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	.header nav ul li a {
		display: block;
        padding: 1rem;
	}

	.header nav ul li:hover .hijos {
		display: block;
        width: 100%;
		position: relative;
	}
  
	.header nav ul li:hover .hijos li a {
		margin-left:20px;
	}

	.header nav ul li .caret {
		float: right;
	}
  
    .tittles{
        width: 100%;
    }
    
    .tittles .titulos-cabecera h1{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    letter-spacing: 0px;
    word-spacing: 2px;
    }

.tittles .titulos-cabecera h2{
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight:400;
    letter-spacing: 0px;
    word-spacing: 2px;
}
    
    .tittles .imagen-cabecera img{
    width: 50%;
    }

.tittles .imagen-cabecera2 img{
    width: 30%;
    }
    /**INICIO*/
    .menus{
    display: none;}
    
    .direc{
        margin: 1rem;
        display: block;
        width: auto;
    }
    
    .direc-materias{
        overflow: auto;
    }
    
    .ventana-modal{
        width: 70%;
    }
    
    .ventana-contenido .modalH3{
        font-size: 100%;
    }
    
    .ventana-contenido .modalH4{
        font-size: 80%;
    }
    
    .ventana-contenido .modalList{
        font-size: 70%;
    }
    
    /*FIN INICIO**/
    .textonav{
        margin: 3rem ;
        width: auto;
        background: white;
        display: block;
    }
    .textoc{
    direction: block;
    height: 100%;
    width: auto;
    margin: 2rem;
    background: white;
    overflow-y: scroll;
    max-height: 50rem;
    }
    .textolinea{
        width: auto;
        overflow-y: scroll;
        max-height: 20rem;
    }
    .textolinea{
      display: block
    }    
    
    
    
    /**PARTE DE CRONOGRAMA DE ACTIVIDADES RESPONSIVE*****/
    .cajapdf{
        display: flex;
        margin: 0;
        width: auto;
        overflow-y: scroll;
        max-height: 50rem;
    }
    

    /******contactanos responsive////*/
    
    .informacion{
        width: 90%;
    }
    
    .informacion .informacion1>ul,
    .informacion .informacion2>ul{
        list-style: none;
        font-size: 1rem;
    }

    .informacion .informacion1>ul>li,
    .informacion .informacion2>ul>li{
        padding: 0.2rem;
    }
    
    .info1{
        width: 90%;
        display: block;
        margin: 1rem auto;
        right: 0;
    }
    
    .ubicacion{
        width: 80%;
        margin: 0 auto;
        margin-top: 2rem;
        display: block;
        height: inherit;
    }
    
    .ubicacion>iframe{
        height: 30rem;
        width: 100%;
    }
    
    .contactl{
        width: 100%;
        display: block;
    }
    
    .seldl{
        padding: 1rem;
        font-size: 1.2rem;
    }
    
    .name{
        padding: 1rem;
        margin-top: 1rem;
    }

    .com{
        margin-top: 1rem;
    }
    
    .bta{
        margin: 0 auto;
        font-size: 1.3rem;   
    }
 
    .grafica{
    display: block;
    width: auto;
    height:inherit;

    }

.grafics{
   
    margin-left: 10rem;
    margin-right: 10rem;
}
.grafc{
    
    width: auto;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    
}
        
    /**INICIO*/
    .menuLateral{
    display: none;
   
}
    
    .direc{
        margin: 1rem;
        display: block;
        width: auto;
    }
    .direcp{
        display: flex;
        margin: auto;
        overflow-x: scroll;
        width: auto;
    }
    
    /*FIN INICIO**/
    .textonav{
        margin: 3rem ;
        width: auto;
        background: white;
        display: block;
    }
    .textoc{
    direction: block;
    height: 100%;
    width: auto;
    margin: 2rem;
    background: white;
    overflow-y: scroll;
    max-height: 50rem;
    }
    .textolinea{
        width: auto;
        overflow-y: scroll;
        max-height: 20rem;
    }
    .textolinea{
      display: block
    }    
    
    
    
    /**PARTE DE CRONOGRAMA DE ACTIVIDADES RESPONSIVE*****/    

    #pies{
        margin-top: 1%;
    }
    
    footer .contenedor-3{
        width: 90%;
    }

    .lugar li{
        font-size: 1rem;
    }
    
    .lugar span{
        font-size: 1rem;
    }
    
    .socialmedia .img-upa{
        width: 3rem;
    }
    
    .socialmedia .img-face{
        width: 2rem;
    }
    
    .contactosTel li{
        font-size: 1rem;
    }
    
    .contactosTel span{
        font-size: 1rem;
    }
    
    footer .icon-text{
        margin-left: auto;
    }
    
    footer .icon-text2{
        margin-left: auto;
    }
    
    .derechoss{
        font-size: 1rem;
    }
    
}

