@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

header {
    padding: 0;
    margin: 0px;
    width:100%;
    height: 70px;
    background: black;
    align-items: center;
    display: flex;
    justify-content: center;
}

header .isei{
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.navegacion ul{
    text-decoration: none;
    float: right;
}

.navegacion ul li{
    display: inline-block;
    padding: 0;
    margin: 1em 1em;  
}



.navegacion li a:link,
.navegacion li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.navegacion li a:hover,
.navegacion li a:active {
    border-bottom: 2px solid #1e44e5;
}

.barra {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top: 30px;
    padding: 0;
}


.navegacion a:last-of-type {
    margin: 0;
}


/*esto es de la pagina*/
.direc{
    padding: 0;
    margin: 0rem 5rem;
    display: block;
}

.renglon{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #000000;
    font-size: 120%;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
}

h2{
    margin-top: 1rem;
    margin-bottom: 20px;
    color: #000000;
    font-size: 160%;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: center;
}

.todo{
    display: flex;
    justify-content: space-between;
    margin: 1px;
}

.imagen
{
    margin: 1pc;
    display: block;
    border-radius: 13%;
    background: url(../img/campus.jpg);
    width: 50%;
}


.medio{
    display: block;
    background: white;
    align-items: center;
    padding: 0px;
    margin: 1rem;
    width: 35rem;
    align-items: center;
}

p{
    text-align: justify;
}


/*ESTO TAMBIEN LO TENGO QUE COPIAR DESPUES EN LAS SIGUIENTES PAGINAS*/
.foot{
    background: #6f6767;
    padding: 0;
    margin: 0;
    
}


/*segunda pagina de pdf*/

.cajapdf{
    margin:0 12%;
    padding: 0;
    height: 60rem;
    display: block;
    align-content: center;
   align-content: center;
    
}
.cajapdf h1{
    text-align: center;
}

.pdf{
    display: block;
    margin: auto auto;
    padding: 1rem;
    width: 70%;
    height: 90%;
}

@media (max-width:447px){
    .cajapdf{
    margin:0 12%;
    padding: 0;
    height: 60%;
    display: block;
    align-content: center;
   align-content: center;
}
.cajapdf h1{
    text-align: center;
}

.pdf{
    display: block;
    margin: auto ;
    padding: 0;
    width: 100%;
    height: 90%;
}
}

