*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;    
    background: url(../img/gifback.gif);
   
    
    
}

.header {
    padding: 0;
   margin: 0px;
    width:100%;
    background: black;
    
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.navegacion{
    padding: 0;
    margin: 0;
    display: block;
}
.navegacion ul{
    padding: 0;
    margin: 0;
      text-decoration: none;
}

.navegacion ul li{
    display: inline-block;
    padding: 0;
    margin: 1em;  


}

.navegacion ul li a{
   color: white;
    display: block;
    padding: 10px;
   
      text-decoration: none;
}

img{
    width: 25%;
    padding: 0;
    margin: 0;
    background: #ffffff;
    align-content: center;
}

.barra {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top: 30px;
  
    padding: 0;
}

.navegacion a:hover {
    color: dodgerblue;
    background: #000000;
       background: #ffffff;
}
.isei:hover{
     color: dodgerblue;
    background: #ffffff;
}

.navegacion a:last-of-type {
    margin: 0;
}

.isei{
    color: white;
    font-size: 4rem;
    padding: 0;
    margin: 0;
      text-decoration: none;

}


/*GALERIA*/

h1{
    color: white;
    text-align: center;
    padding: 2rem;
    background: black;
}


img{
    
    width: 40rem;
}

.galeria{
   
    width: 40rem;
    margin: 0 auto;
    overflow: hidden;
}

.galeria ul{
    display: flex;
    list-style: none;
    width: 280rem;
    animation: slide 20s infinite alternate;
    
}

@keyframes slide{
    0%{margin-left: 0rem;}
    20%{margin-left: 0rem;}
    25%{margin-left: -40rem;}
    45%{margin-left: -40rem;}
    50%{margin-left: -80rem;}
    70%{margin-left: -80rem;}
    75%{margin-left: -120rem;}
    100%{margin-left: -120rem;}
}


.completa{
    
    margin: 0 auto;
    display: block;
    width: 75%;
    background: #b7b4c1;
        
}

.muchas {
    width: 100%;
    margin: 0 auto;
    text-align: center;
   padding: 1rem;
    margin: 1rem;
}

.img {
    padding: 1rem;
    margin: 0.8rem;
    width: 24%;
    display: inline-block;
   border: 0.1rem solid black;
}

.img img{
    width: 100%;
}











.foot{
    align-self: flex-end;
    background: #6f6767;
    padding: 0;
    margin: 0;
    width: 100%;
}