*{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;    

    
}

.header {
    padding: 0;
   margin: 0px;
    width:100%;
    background: black;
    
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.navegacion{
    padding: 0;
    margin: 0;
    display: block;
}
.navegacion ul{
    padding: 0;
    margin: 0;
      text-decoration: none;
}

.navegacion ul li{
    display: inline-block;
    padding: 0;
    margin: 1em;  


}

.navegacion ul li a{
   color: white;
    display: block;
    padding: 10px;
   
      text-decoration: none;
}

img{
    width: 25%;
    padding: 0;
    margin: 0;
    background: #ffffff;
    align-content: center;
}

.barra {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top: 30px;
  
    padding: 0;
}

.navegacion a:hover {
    color: dodgerblue;
    background: #000000;
       background: #ffffff;
}
.isei:hover{
     color: dodgerblue;
    background: #ffffff;
}

.navegacion a:last-of-type {
    margin: 0;
}

.isei{
    color: white;
    font-size: 4rem;
    padding: 0;
    margin: 0;
      text-decoration: none;

}


.todo{
    display: flex;
    justify-content: space-between;
    
    margin: 1px;
}
/*Contactanos */

.contactanos{
   width: 50%;
    padding: 1rem;
    margin: 0 auto;
    background: #9a8986;
}
form{
    width: 20rem;
    margin: 0 auto;    
    background: white;
    padding: 1rem;
    height: auto 0;
    
}

.cuadro{
    border: solid 1px #cccc;
    padding: 1rem;
}





.foot{
    align-self: flex-end;
    background: #6f6767;
    padding: 0;
    margin: 0;
    width: 100%;
}