






{
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;    

    
}

.header {
    padding: 0;
   margin: 0px;
    width:100%;
    background: black;
    
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.navegacion{
    padding: 0;
    margin: 0;
    display: block;,
}
.navegacion ul{
    padding: 0;
    margin: 0;
      text-decoration: none;
}

.navegacion ul li{
    display: inline-block;
    padding: 0;
    margin: 1em;  


}

.navegacion ul li a{
   color: white;
    display: block;
    padding: 10px;
   
      text-decoration: none;
}

img{
    width: 25%;
    padding: 0;
    margin: 0;
    background: #ffffff;
    align-content: center;
}

.barra {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-top: 30px;
  
    padding: 0;
}

.navegacion a:hover {
    color: dodgerblue;
    background: #000000;
       background: #ffffff;
}
.isei:hover{
     color: dodgerblue;
    background: #ffffff;
}

.navegacion a:last-of-type {
    margin: 0;
}

.isei{
    color: white;
    font-size: 4rem;
    padding: 0;
    margin: 0;
      text-decoration: none;

}


.todo{
    display: flex;
    justify-content: space-between;
    
    margin: 1px;
}
.c{
    
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background: black;    
}






.contactl{
    display: flex;
    color: white;
    margin: 2rem auto;
    font-size: 2rem;
    align-self: center;
    height: inherit;
    justify-content: center;
    background: rgba(237, 228, 228, 0.28);
}



.seldl{
    padding: 7rem;
    height: 60rem;
     font-family: 'Coda Caption', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    
}
.name{
    padding: 2rem;
    color: black;
    margin-top: 2rem;
    color: white;
}

.com{
    padding: 2rem;
    margin-top: 4rem;
    height: 16rem;
    color: whITE;
    
}

.cuadro{
     background: rgba(0, 0, 0, 0.04);
    text-decoration: none;
    width: 45rem;
    height: 4rem;
    border: none;
    color: white;
     font-size: 2rem;
}

.com1{
     background: rgba(0, 0, 0, 0.04);
    color: white;
    text-decoration: none;
    width: 45rem;
    height: 13rem;
    border: none;
    font-size: 2rem;
}
.bta{
    margin: 0 auto;
    display: flex;
    margin-top: 3rem;
    font-family: 'Coda Caption', sans-serif;
    height: 6rem;
    background: orange;
    font-size: 4rem;
    
}

.bta:hover{
    background: green;
    color: white;
}


.foot{
    align-self: flex-end;
    background: #6f6767;
    padding: 0;
    margin: 0;
    width: 100%;
}